.description {
  text-align: center;
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.description-item:nth-child(1) .description-images img{
  width: 66px;
  height: 80px;
}

.description-item:nth-child(2) .description-images img{
  width: 56px;
  height: 67px;
}

.description-item:nth-child(3) .description-images img{
  width: 60px;
  height: 71px;
}

.description-item:nth-child(4) .description-images img{
  width: 78px;
  height: 56px;
}

.description-images {
  width: 120px;
  height: 124px;
  background-color: var(--steel-blue);
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.description-info h4 {
  font: var(--headline4);
  color: var(--white);
  margin-top: 0;
  margin-bottom: 11px;
}

.description-info p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .description-content {
    gap: 40px;
    width: 573px;
    margin: 0 auto;
  }

  .description-item {
    flex-direction: row;
    gap: 55px;
  }

  .description-item:nth-child(odd) {
    justify-content: flex-end;
  }

  .description-info {
    text-align: start;
    width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    margin-bottom: 202px;
  }
  .description-content {
    gap: 10px;
    width: 573px;
    height: 383px;
    flex-direction: row;
    margin: 0;
  }

  .description-item {
    flex-direction: column;
    gap: 48px;
  }

  .description-item:nth-child(odd) {
    justify-content: flex-start;
  }

  .description-item:nth-child(even) {
    justify-content: flex-end;
  }

  .description-images {
    align-self: flex-start;
  }

  .description-info {
    text-align: start;
    width: 255px;
  }
}