header {
  margin-top: 40px;
  margin-bottom: 65.5px;
}

.logo-img{
  text-align: center;
}

.logo-img img {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  header {
    margin-top: 48px;
    margin-bottom: 77px;
  }

  .logo-img {
    text-align: start;
  }
}