.hero {
  text-align: center;
  margin-bottom: 144px;
}

.hero-img {
  height: 230.84px;
  background-image: url('../assets/illustration-hero-mobile.png');
  background-size: cover;
  margin-bottom: 48.67px;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0;
  font: var(--headline3);
  line-height: 40px ;
  color: var(--white);
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.hero p {
  margin-top: 24px;
  margin-bottom: 34px;
}

.hero h1 span {
  color: var(--aqua);
}

/* .hero-description {
  margin-top: 23px;
  margin-bottom: 32px;
} */

.hero-content img {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 110px;
    padding-top: 34px;
    padding-bottom: 55px;
    background: url('../assets/illustration-hero-left.svg') no-repeat left -170px center / contain,
                url('../assets/illustration-hero-right.svg') no-repeat right -170px center / contain,
                url('../assets/bg-hero-squiggle.svg') no-repeat center top 30px / 386px 268px;
  }
  .hero-img {
    display: none;
  }

  .hero-content {
    width: 457px;
    margin: 0 auto
    
  }

  .hero h1 {
    width: 350px;
  }
}


@media screen and (min-width: 1024px) {

  .hero {
    padding-top: 70px;
    padding-bottom: 70px;
    background: url('../assets/illustration-hero-left.svg') no-repeat left -55px center / contain,
                url('../assets/illustration-hero-right.svg') no-repeat right -62px center / contain,
                url('../assets/bg-hero-squiggle.svg') no-repeat center top / 545px 360px;
  }
  
  .hero-content {
    width: 540px;
  }

  .hero-content h1 {
    font: var(--headline1);
    width: auto;
  }

  .hero-content p {
    margin: 24px auto 64px auto;
  }
}