.hero {
  text-align: center;
  margin-bottom: 144px;
}

.hero-img {
  height: 230.84px;
  background-image: url('../assets/illustration-hero-mobile.png');
  background-size: cover;
  margin-bottom: 48.67px;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0;
  font: var(--headline2);
  color: var(--white);
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.hero h1 span {
  color: var(--aqua);
}

.hero-description {
  margin-top: 23px;
  margin-bottom: 32px;
}

.hero-content img {
  vertical-align: middle;
}