.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 16.5px;
  padding-right: 16.5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}